<div class="login">
  <h3 class="login__title">Login</h3>
  <form class="login__form" [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-form-field class="login__field" appearance="fill">
      <mat-label>Login</mat-label>
      <input
        class="login__input"
        type="text"
        formControlName="login"
        placeholder="user@gmail.com"
        matInput
        autocomplete="off"
      />
      <mat-error *ngIf="getLoginError('required')">Please enter a login email!</mat-error>
      <mat-error *ngIf="getLoginError('email')">The login email is invalid!</mat-error>
    </mat-form-field>

    <mat-form-field class="login__field" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        class="login__input"
        type="password"
        formControlName="password"
        placeholder="Yo8*98PaOQip8"
        matInput
        autocomplete="off"
      />
      <mat-error *ngIf="getPasswordError('required')">Please enter a password!</mat-error>
      <mat-error *ngIf="getPasswordError('pattern')"
        >Your password isn't strong enough! <br>(min 8 characters, uppercase and lowercase letters,
        numbers, special character)</mat-error
      >
    </mat-form-field>

    <button
      class="login__button"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      Login
    </button>
  </form>
</div>
