.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input {
    width: 396px;
    height: 24px;
    padding: 5px;
    background-color: #efefef;
    border: none;
    outline: none;
  }

  &__button {
    height: 24px;
    width: 80px;
    font-size: 0.7rem;
    font-weight: 400;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 0px 4px 0px #2979ff;
  }
}
