.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  min-height: 80px;
  background-color: #e5e5e5;

  &__container {
    flex-direction: column;
  }

  &__search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 570px;
  }

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
