<header class="header">
  <div class="header__container container">
    <div class="header__search-container">
      <div class="header__logo" routerLink="/youtube">
        <img src="./assets/icons/youtube.svg" alt="youtube" width="50" />
      </div>

      <app-search-form></app-search-form>
      <app-custom-button class="header__settings" (click)="isSortForm = !isSortForm" width="24">
        <mat-icon class="header__settings-icon">tune</mat-icon>
      </app-custom-button>
    </div>

    <app-profile></app-profile>
    <app-sort-form *ngIf="isSortForm"></app-sort-form>
  </div>
</header>
