<div class="sort-form">
  <span class="sort-form__title">Sorting by:</span>
  <ul class="sort-form__list">
    <li class="sort-form__item" (click)="setSortingType('date')">date</li>
    <li class="sort-form__item" (click)="setSortingType('views')">count of views</li>
    <li class="sort-form__item">by word or sentence</li>
  </ul>
  <input
    class="sort-form__input"
    type="search"
    name="sortValue"
    [(ngModel)]="sortValue"
    (input)="submitSortValue()"
    autocomplete="off"
  />
</div>
