.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input {
    width: 470px;
    height: 24px;
    padding: 5px;
    background-color: #efefef;
    border: none;
    outline: none;
  }
}
