<div class="search-item">
  <button
    class="search-item__close"
    *ngIf="searchItem.kind === 'custom'"
    [appStatusColor]="searchItem.snippet.publishedAt"
    (click)="removeItem()"
  >
    <mat-icon class="search-item__icon">close</mat-icon>
  </button>
  <div class="search-item__preview">
    <img
      class="search-item__image"
      [src]="searchItem.snippet.thumbnails.medium.url"
      alt="preview"
    />
  </div>

  <div class="search-item__statistics">
    <span>
      <mat-icon class="search-item__icon">visibility</mat-icon>
      {{ searchItem.statistics.viewCount }}
    </span>
    <span>
      <mat-icon class="search-item__icon">favorite</mat-icon>
      {{ searchItem.statistics.likeCount }}
    </span>
    <span>
      <mat-icon class="search-item__icon">forum</mat-icon>
      {{ searchItem.statistics.commentCount }}
    </span>
  </div>

  <h3 class="search-item__title">{{ searchItem.snippet.title }}</h3>
  <app-custom-button class="search-item__button" (click)="showDetailedInfo()"
    ><span>more...</span></app-custom-button
  >
  <div class="search-item__status" [appStatusColor]="searchItem.snippet.publishedAt"></div>
</div>
