<div class="admin">
  <h3 class="admin__title">Create new card</h3>
  <form class="admin__form" [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-form-field class="admin__field" appearance="fill">
      <mat-label>Title</mat-label>
      <input
        class="admin__input"
        type="text"
        formControlName="title"
        placeholder="Please enter a title"
        matInput
        autocomplete="off"
      />
      <mat-error> {{ getTitleErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="admin__field" appearance="fill">
      <mat-label>Description</mat-label>
      <input
        class="admin__input"
        type="text"
        formControlName="description"
        placeholder="Please enter a description"
        matInput
        autocomplete="off"
      />
      <mat-error>{{ getDescriptionErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="admin__field" appearance="fill">
      <mat-label>Image</mat-label>
      <input
        class="admin__input"
        type="text"
        formControlName="image"
        placeholder="Please enter a link to the image"
        matInput
        autocomplete="off"
      />
      <mat-error>{{ getImageErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="admin__field" appearance="fill">
      <mat-label>Video</mat-label>
      <input
        class="admin__input"
        type="text"
        formControlName="video"
        placeholder="Please enter a link to the image"
        matInput
        autocomplete="off"
      />
      <mat-error>{{ getVideoErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="admin__field" appearance="fill">
      <mat-label>Date</mat-label>
      <input
        class="admin__input"
        type="date"
        formControlName="date"
        placeholder="Please enter a creation date"
        matInput
        autocomplete="off"
      />
      <mat-error>{{ getDateErrorMessage() }}</mat-error>
    </mat-form-field>

    <ng-container formArrayName="tags">
      <ng-container *ngFor="let tag of tags.controls; let index = index">
        <mat-form-field class="admin__field" appearance="fill">
          <mat-label>Tag</mat-label>
          <input
            class="admin__input"
            type="text"
            [formControlName]="index"
            placeholder="tag"
            matInput
          />
          <mat-error *ngIf="tag?.hasError('required')">{{ getTagErrorMessage() }}</mat-error>
        </mat-form-field>
      </ng-container>
    </ng-container>

    <button
      class="admin__add-button"
      type="button"
      mat-raised-button
      color="primary"
      (click)="addTag()"
      [disabled]="tags.length === 5"
    >
      <mat-icon>add</mat-icon>
    </button>

    <div class="admin__button-wrap">
      <button
        class="admin__button"
        type="reset"
        mat-raised-button
        color="primary"
        (click)="resetForm()"
      >
        Reset
      </button>

      <button
        class="admin__button"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
      >
        Create card
      </button>
    </div>
  </form>
</div>
